@import 'https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Roboto:300,300i,400,400i,500,500i,700,700i&subset=latin-ext';
@import "default.scss";

@mixin after-clear(){
	clear:both;
	display: block;
	content:"";
}

@mixin text(){
	color: #828282;
	line-height: 1.33em;
	font-weight: 300;
	> *:last-child{
		margin-bottom: 0;
	}
}

@mixin title(){
	color: #828282;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: .85em;
	margin-bottom: 1em;
	margin-top: 0;
	border-bottom: 1px solid $border-color;
}

@mixin form-control($height : 56px){
	border:1px solid $border-color;
	font-size: 1em;
	color: $color-dark;
	padding: 14px 20px 10px;
	height: $height;
	&:focus{
		border-color: #ccc;
	}
}

@mixin form-group(){
	.form-group{
		label{
			font-weight: 500;
			text-transform: uppercase;
			font-size: $font-size-xs;
			margin-bottom: 8px;
			line-height: 1;
			abbr{
				display: none;
			}
		}
		.form-control{
			@include form-control();
		}
	}
}

html[lang="ru-RU"]{
	body{
		font-family: 'Roboto', sans-serif;
	}
}

// SCSS HERE
#header{
	&.app-header{
		background: #fff;
        		border-bottom: 1px solid $border-color;
	}

	.header-left{
		border-right: 1px solid $border-color;
	}

	.header-right{
        position: relative;
		.header-menu{
			padding-left: 1.5em;
			display: table;
			height: 100%;

			.menu{
				display: table-row;
				@extend ul.no-style;
				li{
					display: table-cell;
					vertical-align: middle;
					a{
						padding: 0 1em;
						white-space: nowrap;
						transition-duration: $duration-sm;
						height: 100%;
						display:table;
						font-size: $font-size-sm;
						span{
							padding-top: 3px;
							display: table-cell;
							vertical-align: middle;
						}
						&:hover{
							// background-color:
							color: $color-primary;
						}
					}
					&.current_page_item{
						a{
							// border-bottom: 3px solid $color-primary;
							color: #888;
						}
					}
				}
			}
		}
	}
}

.app{
	.app-main{
		.app-aside{
			background: $color-light;
			border-right: 1px solid $border-color;
		}
	}

	.app-content{
		position: relative;
		.content-overlay{
			position: absolute;
			top:0;left:0;right:0;bottom:0;
			background:rgba(#000,.3);
			z-index: 10;
			opacity: 1;
			visibility: visible;
			transition-duration: $duration;
			&.hidden{
				opacity: 0;
				visibility: hidden;
				display: block !important;
			}
		}

		+ .app-aside{
			border-right: 0;
			border-left: 1px solid $border-color;
			background: #fff;
		}
	}
}

// Footer
#footer{
	position: relative;
	z-index: 2000000001;
	.footer-top{
		padding: 3em 0 1em;
		display: table;
		> .col{
			display: table-cell;
			vertical-align: top;
		}

		.footer-banners{
			padding-right: 1.5em;
			text-align: center;
			a{
				display: block;
				margin-bottom: 2em;
			}
		}
	}
	.footer-bottom{
		text-align: center;
		border-top: 1px solid #777;
		padding: 1.2em 2em 1em;
		p{
			margin-bottom: 0;
			color: #a0a0a0;
			font-weight: 300;
			&.developers{
				text-align: right;
				img{
					margin-top: -9px;
				}
			}
		}
	}
	padding: 0 2em;
	background: #5f5f5f;
	color: #fff;
}

body{
	.sweet-alert{
		border-radius: 0;

		button{
			font-size: 15px;
		    text-transform: uppercase;
		    font-weight: bold;
		    text-align: center;
		    border-radius: 3px;
		    padding: 15px 20px;
		    &.confirm{
		    	background: $color-danger !important;
		    	&:hover{
		    		background: lighten($color-danger, 5%) !important;
		    	}
		    }
		}
	}
}

// @import "selectize/selectize.bootstrap3.scss";
@import "woocommerce/woocommerce.scss";
@import "wordpress/wordpress.scss";
@import "widgets/widgets.scss";
@import "responsive.scss";
