@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .img-2x{
		display: block;
	}
	.img-1x{
		display: none;
	}
}

@media (max-width: 1800px){
	.filters > form {
		&.ma-show,
		&.woocommerce-ordering{
			.table{
				display: block;
				> div{
					display: block;
				}
			}
		}
		&.ma-show,
		&.woocommerce-ordering{
			.table{
				label{
					text-transform: uppercase;
					font-size: $font-size-sm;
					color: #828282;
				}
			}
		}
	}
}

@media (max-width: 1600px){
	body{
		font-size: 19px;
	}

	.filters > form {
		&.ma-type{
			.table{
				display: block;
				> div{
					display: block;
				}
			}
		}
	}

	.products .product .product-image .product-hover{
		padding: 0 2em;
	}

	.recent-posts .post .post-image{
		width: 18em;
	}

	.search-box{
		font-size: $font-size-sm;
	}

	.popup{
		font-size: $font-size-sm;
	}

	.alert{
		font-size: $font-size-sm;
	}

	#order_review{
		font-size: $font-size-sm;
	}

	.product-tabs{
		margin-bottom: 2.5em;
	}

	.app-aside .widget:not(.widget_recent_posts.widget){
		padding: 1.5em;
	}
}

@media (min-width: 1401px){
	.widget_hamburger_button{
		display: none !important;
	}
}

@media (max-width: 1500px){

    .widget_category-list .product-categories > li > a{
    	padding: 1em 1em 1em 2em;
    }

    #footer .footer-top{
    	padding-top: 2.3em;
    }

    #footer .widget_nav_menu .menu li{
    	margin-bottom: 1em;
    }

    #product{
    	display: block;
    	height: auto;
    	> div{
    		display: block;
    		&.before-summary{
    			width: 30%;
    			min-width: 270px;
    			float: left;
    		}
    		&.summary{
    			width: auto;
    			overflow: hidden;
    		}
    		&.after-summary{
    			border-top: 1px solid $border-color;
    			display: block;
    			width: 100%;
    			height: 500px;
    			border-left: 0;
    		}
    	}
    }
}

@media (max-width: 1400px){
	// Dropdown menu
	body:not(.woocommerce-checkout){
		#header{
			#menu{
				display: none;
			}
            .header-right{
                justify-content: flex-end;
            }
		}
	}

	#header {
		.header-right .header-widgets .widget.widget_my_account_button{
			display: none;
		}
	}

	.search-box{
		padding: 0 2em;
		height: 16em;
		.title{
			font-size: 1.5em;
			margin-bottom: .5em;
		}
	}

	#post .post-image.post-has-image{
		height: 450px;
	}
}

@media (max-width: 1300px){
	.recent-posts .post .post-image{
		width: 30%;
	}
}

@media (max-width: 1200px){
	.filters{
		display: block;
		height: auto;
		padding: 0;
		> form{
			padding:15px;
			display: block;
			border-bottom: 1px solid $border-color;

			.table {
				display: block;
				> .checkbox{
					padding:0;
				}
			}

			&.woocommerce-ordering,
			&.ma-show{
				padding: 1em;
			}

			&.ma-type{
				.checkbox{
					margin:5px 0;
				}
			}
		}

		.ma-layout-switch .radio{
			padding:0;
			margin:0 15px 0 0;
			display: inline-block;
		}
	}
}

@media (max-width: 991px){
    .app {
        &.app-header-fixed{
            padding-top: 160px;
        }
        .app-header{
            display: block;
            height: 160px;
            .header-left{
                display: block;
                max-width: 100%;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .header-right{
                // display: block;
                flex:1;
                display: flex;
                .header-widgets{
                    width: 100%;
                    height: 70px;
                    justify-content: space-between;
                }
            }
        }

        #header{
            .header-left{
                border-right: 0;
                border-bottom: 1px solid #ebebeb;
            }
            .header-widgets{
                .widget{
                    .button, .link{
                        i{
                            font-size: 16px;
                        }
                    }
                    .dropdown{
                        display: none;
                    }
                    &.widget_minicart{
                        .button{
                            > div {
                                padding-top: 10px;
                                .icon .badge{
                                    width: 22px;
                                    height: 22px;
                                    line-height: 18px;
                                    font-size: 13px;
                                    margin-top: -10px;
                                }
                                .subtotal{
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
