@font-face {
  font-family: "design-font";
  src: url('../fonts/design-font.eot');
  src: url('../fonts/design-font.eot?#iefix') format('eot'),
    url('../fonts/design-font.woff') format('woff'),
    url('../fonts/design-font.ttf') format('truetype'),
    url('../fonts/design-font.svg#design-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.df:before {
  display: inline-block;
  font-family: "design-font";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.df-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.df-2x { font-size: 2em; }
.df-3x { font-size: 3em; }
.df-4x { font-size: 4em; }
.df-5x { font-size: 5em; }
.df-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.df-atlaides:before { content: "\EA01" }
.df-bezrecepsu-zales:before { content: "\EA02" }
.df-delikati:before { content: "\EA03" }
.df-higienai:before { content: "\EA04" }
.df-kosmetika:before { content: "\EA05" }
.df-mazuliem:before { content: "\EA06" }
.df-medikamenti:before { content: "\EA07" }
.df-merierices:before { content: "\EA08" }
.df-sievietei:before { content: "\EA09" }
.df-speciala-partika:before { content: "\EA0A" }
.df-tejas:before { content: "\EA0B" }
.df-vitamini:before { content: "\EA0C" }