.btn{
	font-weight: $btn-font-weight;
	border-radius: $btn-border-radius;
	outline: 0!important;
	transition-duration: $duration-sm;
}

.btn-link{
	color: $link-color;
	&.active{
		box-shadow:none;
	}
}

.btn-justify{
	width: 100%;
}


// Colors
.btn-default{
	@include btn($btn-color, $btn-background, $btn-border-color);
	box-shadow: 0 1px 1px rgba(90,90,90,.1);
	border-bottom-color: darken($btn-border-color, 2%);
}

.btn-primary{
	@include btn(#fff, $color-primary, $color-primary);
}

.btn-secondary{
	@include btn(#fff, $color-secondary, $color-secondary);
}

.btn-info{
	@include btn(#fff, $color-info, $color-info);
}

.btn-gray{
	@include btn(#fff, #aaa, #aaa);
}

.btn-danger{
	background: $color-danger;
}

// Sizes
.btn-sm{
	padding: 7px 10px 5px;
}

.btn-md{
	font-size: $font-size-sm;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	padding: 18px 20px 14px;
}

.btn-lg{
	font-size: $font-size-sm;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 24px 20px 19px;
}