// Button
@mixin btn($color, $background, $border){
    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $color !important;
        background-color: darken($background, 5%);
        border-color: darken($border, 8%);
    }

    &:active,
    &.active,
    .open .dropdown-toggle {
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: $background;
            border-color: $border
        }
    }

    &.btn-border{
        color: $background;
        background: $color;

        &:hover,
        &:focus,
        &:active{
            background: $background;
            border-color: $border;
            color: $color;
        }
    }
}

// Color
@mixin color($bg-color: #555, $lt-percent: 10%, $lter-percent: 15%, $dk-percent: 10%, $dker-percent: 15%){
    background-color: $bg-color;

    &.lt,
    .lt {
        @include color-schema-lighten($bg-color, $lt-percent, 2.5%);
    }
    &.lter,
    .lter {
        @include color-schema-lighten($bg-color, $lter-percent, 5%);
    }
    &.dk,
    .dk {
        @include color-schema-darken($bg-color, $dk-percent, 2.5%);
    }
    &.dker,
    .dker {
        @include color-schema-darken($bg-color, $dker-percent, 5%);
    }
    &.bg,
    .bg{
        background-color: $bg-color;
    }
}

@mixin color-schema-lighten($bg-color: #555, $percent: 15%, $sat-percent: 5%){
    background-color: saturate(lighten($bg-color, $percent), $sat-percent);
}

@mixin color-schema-darken($bg-color: #555, $percent: 15%, $sat-percent: 5%){
    background-color: desaturate(darken($bg-color, $percent), $sat-percent);
}

@mixin font-variant($bg-color){
    $font-color:  desaturate(lighten($bg-color,40%), 10%);
    $link-color:  desaturate(lighten($bg-color,50%), 10%);
    $hover-color: #fff;
    color: $font-color;

    a {
        color: $link-color;
        &:hover{
            color: $hover-color;
        }
        &.list-group-item{
            &:hover,
            &:focus{
                background-color: inherit;
            }
        }   
    }
    .nav {
        > li {  
            &:hover,
            &:focus,
            &.active{
                > a{
                    color: $hover-color;
                    @include color-schema-darken($bg-color, 5%, 2.5%);
                }
            }
            > a{
                color: darken($link-color, 5%);
                &:hover,
                &:focus{
                    @include color-schema-darken($bg-color, 3%, 2.5%);
                }
            }
        }
        .open > a{
            @include color-schema-darken($bg-color, 5%, 2.5%);
        }
    }

    .caret{
        border-top-color: $font-color;
        border-bottom-color: $font-color;
    }

    &.navbar .nav{
        > li.active > a{
            color: $hover-color;
            @include color-schema-darken($bg-color, 5%, 2.5%);
        }
    }
    .open > a {
        &,
        &:hover,
        &:focus{
            color: $hover-color;
        }
    }

    .text-muted {
        color: darken($font-color, 10%) !important;
    }
    .text-lt {
        color: lighten($font-color, 25%) !important;
    }
    &.auto,
        .auto{
            .list-group-item{
                border-color: darken($bg-color, 5%) !important;
                background-color: transparent;
                &:hover,
                &:focus,
                &:active,
                &.active{
                @include color-schema-darken($bg-color, 5%, 2.5%); 
            }
        }
    }
}

@mixin margin($side, $size_name, $size_value){
    $side_short: str-slice($side, 0,1);

    @if($size_value >= 0){
        .m-#{$side_short}#{$size_name}{
            margin-#{$side}: $size_value;
        }
    }
    @else{
        .m-#{$side_short}-n#{$size_name}{
            margin-#{$side}: $size_value;
        }
    }
}