html, body{
	width: 100%;
	height: 100%;
}
body{
	overflow-x: hidden;
}

@mixin before($background){
	position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    border: inherit;
    content: "";
    background-color: $background;
}

// App
.app{
	$header_height: 120px;
	$sidebar_width: 380px;

	position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    &.app-header-fixed{
    	padding-top: $header_height;
    	.app-header{
    		position: fixed;
    		top:0;
    		width: 100%;
    	}
    }
    &:before{
    	@include before($body-bg);
	    border: inherit;
	    content: "";
    }

    .app-header{
		z-index: 2000;
		height: $header_height;
		position: relative;
        display: flex;

        > div{
            width: 100%;
        }

		.header-left{
            -webkit-box-flex: 0;
			max-width: $sidebar_width;
            flex: 0 0 $sidebar_width;
            .header-logo{
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                height: 100%;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
		}
		.header-right{
            -webkit-box-flex: 1;
            flex-basis: 0;
            flex-grow: 1;
            display: flex;
            justify-content: space-between;

            .header-widgets{
                display: flex;
            }

            .col{
                // flex-basis: 0;
                // flex-grow: 1;
                // max-width: 100%:
            }
		}
    }

    .app-main{
    	width: 100%;
    	display: table;
    	table-layout: fixed;

    	.app-aside,
    	.app-content{
			display: table-cell;
			vertical-align: top;
    	}
    	.app-content{
    		position: relative;
    		z-index: 1700;
    	}

    	.app-aside{
    		width: $sidebar_width;
    		position: relative;
    		z-index: 1800;
    		height: 100%;
    		.aside-wrap{
    			position: absolute;
    			top:0;left:0;right:0;bottom:0;
    		}
    	}

	    .app-content{
	    	padding: 1em 1em;
	    }
    }
}

// Hbox
.hbox{
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	.col{
		display: table-cell;
		vertical-align: top;
		height: 100%;
		float: none;
	}
}

.v-middle{vertical-align: middle !important;}
.v-top{vertical-align: top !important;}
.v-bottom{vertical-align: bottom !important;}

.vbox{
	display: table;
	border-spacing:0;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 240px;
	.row-row {
		display: table-row;
		height: 100%;
		.cell {
			position: relative;
			height: 100%;
			width: 100%;
			-webkit-overflow-scrolling:touch;
			overflow: auto;
			.ie & {
				display: table-cell;
			}
			.cell-inner {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}

// navbar

.navbar{
	.navbar-form-sm{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	border-width: 0;
	border-radius: 0;
	margin: 0;
}

.navbar-header{
	> button{
		text-decoration: none;
		line-height: 30px;
		font-size: 16px;
		padding: 10px 17px;
		border: none;
		background-color: transparent;
	}
}

.navbar-brand{
	float: none;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	height: auto;
	line-height: $app-header-height;
	display: inline-block;
	padding: 0 20px;
	&:hover{
		text-decoration: none;
	}
	img{
		vertical-align: middle;
		display: inline;
	}
}

@media (min-width: 768px) {
	.col.show{
		display: table-cell !important;
	}
}

// sm
@media (min-width: 768px) and (max-width: 991px) {
	.hbox-auto-sm{
		display: block;
		> .col{
			width: auto;
			height: auto;
			display: block;
			&.show{
				display: block !important;
			}
		}

	}
}
// xs
@media (max-width: 767px) {
	.hbox-auto-xs{
		display: block;
		> .col{
			width: auto;
			height: auto;
			display: block;
		}
	}
	.navbar-nav{
		margin-top: 0;
		margin-bottom: 0;
		> li > a{
			box-shadow:0 -1px 0 rgba(0,0,0,0.1);
			.up{
				top: 0;
			}
			.avatar{
				width: 30px;
				margin-top: -5px;
			}
		}
		.open .dropdown-menu{
			background-color: #fff;
		}
	}
	.navbar-form{
		box-shadow:0 -1px 0 rgba(0,0,0,0.1);
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		.form-group{
			margin-bottom: 0;
		}
	}
}
