.bg-light {
	@include color($color-light, 2%, 3%, 3%, 5%);
	color: $text-color;
}

.bg-dark {
	@include color($color-dark, 5%, 10%, 5%, 10%);
	@include font-variant($color-dark);	
}

.bg-primary {
	@include color($color-primary, 5%, 10%, 5%, 10%);
	@include font-variant($color-primary);	
}

.bg-success {
	@include color($color-success, 5%, 10%, 5%, 10%);
	@include font-variant($color-success);
}

.bg-info {
	@include color($color-info, 5%, 10%, 5%, 10%);
	@include font-variant($color-info);
}

.bg-warning {
	@include color($color-warning, 5%, 10%, 5%, 10%);
	@include font-variant($color-warning);
}

.bg-danger {
	@include color($color-danger, 5%, 10%, 5%, 10%);
	@include font-variant($color-danger);
}