$favicon: url(http://maijaaptieka.dev/wp-content/uploads/2016/06/favicon.png);$logo_2x: 1;
$logo: url(http://maijaaptieka.dev/wp-content/uploads/2016/06/maijaaptieka-logo.png);$footer-logo: url(http://maijaaptieka.dev/wp-content/uploads/2016/07/footer-logo.png);$search-background: url(http://maijaaptieka.dev/wp-content/uploads/2017/06/search-form.png);$sale-page: 39;
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/577e50dddd7fc0d375f26362/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script--><script src="//d1ks1friyst4m3.cloudfront.net/toolbar/prod/td.js" async data-trackduck-id="57839fdffc5b3dc914a0805c"></script>