.error404{
	.content{
		padding: 80px 0;
		text-align: center;
		$color:#a3a3a3;
		.numbers{
			font-size: 8em;
			font-weight: bold;
			color: $body-bg;
			background-color: $color;
			line-height: 1em;
			margin:0 0 25px;
			padding:25px 41px 0;
			display: inline-block;
		}
		.title{
			color: $color;
			font-size: 2.2em;
			font-weight: bold;
			margin-bottom: 25px;
			text-transform: uppercase;
		}
		.text{
			line-height: normal;
			font-weight: 300;
			color: $color;
		}
	}
}