.banners{
	margin-bottom: 1em;
	display: table;
	table-layout: fixed;
	width: 100%;
	> div{
		display: table-cell;
		&.banner-dots{
			width: 3em;
			vertical-align: middle;
		}
		&.banner-slider{
			width: 100%;
			.slider{
				float: left;
			}
		}
	}

	.banner{
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.dots{
		width: 1em;
		float:right;
		.owl-dot{
			width: 1em;
			height: 1em;
			background: $color-dark;
			border-radius: 50%;
			margin: .45em 0;
			cursor: pointer;
			transition-duration: $duration-sm;
			&:hover{
				background: darken($color-dark, 5%);
			}
			&.active{
				background: $color-primary;
			}
		}
	}
}