.blog, .single-post{
	background: #fff;
	.app{
	    &:before{
	    	background: #fff;
	    }
	    .app-main .app-content{
    		padding: 0;
    	}
	}
}

.post-share{
	@extend ul.no-style;
	li{
		display: inline-block;
		font-size:$font-size-sm;
		font-weight: bold;
		text-transform: uppercase;
		margin-right: 10px;
		vertical-align: middle;
	}
}

#post{
	.post-image{
		.post-header{
			background: rgba($color-primary, .85);
			color: #fff;
			padding:  1.5em 2em;
			.post-date{
				text-transform: uppercase;
				margin-bottom: .7em;
			}
			.post-title{
				margin:0;
				font-size: 1.5em;
				margin-bottom: .75em;
				line-height: 1em;
				font-weight: 600;
			}
		}

		&.post-has-image{
			@extend .bg-cover;
			height: 595px;
			background-color: darken($color-light, 10%);
			position: relative;
			.post-header{
				left:0;right:0;bottom:0;
				position: absolute;
			}
		}
	}
	article{
		padding: 1.5em 2em;
		color: #828282;
		> *{
			font-size:$font-size-sm;
			line-height: 1.3em;
			margin-bottom: 1em;
			margin-top: .6em;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

// Recent posts
.recent-posts{
	.title{
		color: #6f6f6f;
		font-weight: bold;
		font-size: 1em;
		text-transform: uppercase;
		margin:0 0 .8em;
	}
	.post{
		padding:1px;
		background: #fff;
		border: 1px solid $border-color;
		margin-bottom: 1em;
		table-layout: auto;
		.post-image{
			@extend .bg-cover;
			width: 20em;
		}
		.post-content{
			padding: 1.5em;
			.post-date{
				text-transform: uppercase;
				font-size: $font-size-xs;
				color: #828282;
				font-weight: 300;
				margin-bottom: .9em;
			}
			.post-title{
				margin:0 0 .6em;
				font-size: $font-size-lg;
				font-weight: 500;
			}
			.post-excerpt{
				font-size: $font-size-sm;
				color: #828282;
				p:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}