.page{
	.page-title{
		@include title();
	}

	&:not(.woocommerce-page){
		article{
			color: #828282;
			font-size: $font-size-sm;
			line-height: 1.7em;

			a:not(.title){
				color: $color-primary;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}

			table{
				width: 100%;
				border:1px solid #eee;
				margin-bottom: 20px;
				th{
					background: $color-dark;
					color: #fff;
					white-space: nowrap;
				}
				td{
					background: #fff;
					border-bottom: 1px solid #eee;
				}
				td, th{
					padding: 10px 15px;
					vertical-align: top;
				}
				tr:nth-child(2n+1){
					td{
						background: #fafafa;
					}
				}
			}
		}
	}

	.app .app-main .app-content{
		padding: 2.5em 2em;
	}
}

.page-template-sale-products-template{
	.app .app-main .app-content{
		padding: 1em 1em;
	}
}
