.woocommerce-message, 
.woocommerce-info,
.woocommerce-error,{
	margin-bottom: 1em;
	padding:1.75em 3em 1.5em;
	background: $color-secondary;
	color: #fff;
	font-weight: 600;
	a{
		background: #fff;
		color: $color-secondary;
		box-shadow: 0 1px 2px rgba(#000,.2);
		padding: 3px 10px;
		transition-duration: $duration-sm;
		&:hover{
			background: darken(#fff, 2%);
			color: darken($color-secondary, 10%)
		}
	}
}

.alert{
	padding:1.75em 3em 1.5em;
	background-color: #656565;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	border:0;
	border-radius: 0;
	text-align: center;
	font-size: 1em;
	span{
		font-size: 1.38em;
	}
	i{
		margin-right: 1em;
		font-size: 1em;
	}
}

.woocommerce-error{
	list-style-position: inside;
	background: $color-danger;
	a{
		color: $color-danger;
		&:hover{
			color: darken($color-danger, 10%);
		}
	}
}