.quantity.input-group{
	border-radius: 3px;
	background: #fff;
	float: left;
	border:2px solid $border-color;
	input{
		border:0;
		font-size: 1em;
		font-weight: 300;
		color: $color-dark;
		height:60px;
		padding: 14px 0 10px;
		text-align: center;
		float: none;
		width: 40px;
	}
	.input-group-btn{
		width: 40px;
		padding-top: 2px;
		.btn{
			color:$color-dark;
			margin:0 !important;
			font-size: 0;
			line-height: normal;
			width: 100%;
			text-align: center;
			i:before{
				font-size: $font-size * .7;
			}
			&.quantity-decr{
				// padding-top: 0px;
			}
		}
	}	
}

.widget_minicart .mini_cart_item,
.shop_table.cart tbody{
	.product-remove-mc,
	.product-remove{
		width: auto;
		padding: 0 2em;
		a{
			color: $color-dark;
			font-size: 1em;
		}
	}

	.product-image{
		padding: 1em 1em 1em 0;
		width: 140px;
		text-align: center;
	}

	.product-name{
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 600;
		width: 100%;
		.product-subtitle{
			font-size: .9em;
			font-weight: 400;
			color: #828282;
			text-transform: none;
			display: block;
			padding-top: 5px;
		}
	}

	.product-price,
	.product-subtotal{
		font-size: 1.38em;
		color: $color-primary;
		font-weight: 600;
	}

	.product-quantity{
		padding-right: 30px;
	}
}

.shop_table.cart{
	thead{
		th{
			font-weight: 300;
			padding-bottom: 10px;
		}
	}
	tbody{
		background: #fff;
		border:1px solid $border-color;
		tr:nth-child(2n){
			td{
				background: darken(#fff, 1%);
			}
		}
	}
	tfoot{
		td{
			padding: 1em 0;
			&.actions{
				text-align: right;
			}
		}
	}
	
	.product-subtotal{
		padding-right: 30px;
		text-align:right;
	}
	.product-quantity{
		padding-left: 30px;
		padding-right: 30px;
	}
}

.woocommerce-cart{
	.checkout_coupon{
		text-align: left;
		margin-bottom:1em;
		border-bottom: 0;
		label{
			text-transform: uppercase;
			font-size: .88em;
			margin-bottom: 0;
		}
		&.hbox{
			height: auto;
			table-layout: auto;
			.col{
				vertical-align: middle;
				.input-group{
					width: 100%;
				}
			}
		}
	}

	.cart-summary{
		padding:0 0 20px;
	}
}