.checkout_table{
	.cart_item{
		position: relative;
		border-bottom: 1px solid $border-color;
		display: table;
		width: 100%;
		> div{
			display: table-cell;
			vertical-align: middle;
		}
		.product-image{
			width: 135px;
			padding: 20px;
			text-transform: center;
			img{
				max-width: 100%;
				height: auto;
			}
		}
		.product-details{
			padding: 20px 45px 20px 0;
			.product-title{
				font-weight: 600;
				text-transform: uppercase;
				font-size: 1em;
				margin-bottom: 1em;
				.subtitle{
					color: #828282;
					font-size: .83em;
					text-transform: none;
					font-weight: 300;
					display: block;
					padding-top: 5px;
				}
			}

			.amount{
				color: $color-primary;
				font-weight: 600;
				font-size: 1.38em;
			}
		}
		.product-quantity{
			position: absolute;
			top:0;right:0;
			font-size: .83em;
			color: #828282;
			background: #ebebeb;
			display: block;
			padding: 11px 13px 8px;
			vertical-align: top;
		}
	}
}

.cart-summary{
	text-align: right;
	padding:45px 20px 20px;

	ul{
		@extend ul.no-style;
		display: inline-block;
	}
	li{
		color: #828282;
		padding-left: 20px;
		margin-bottom: 6px;
		strong{
			font-weight: 600;
		}
		&.order-total,
		&.order_total{
			padding-top: 16px;
			margin-top: 12px;
			border-top: 1px solid $border-color;
			text-transform: uppercase;
			> strong{
				color: $color-primary;
				font-size: 1.38em;
			}
		}

		&.cart-discount{
			.woocommerce-remove-coupon{
				font-size: .75em;
				display: block;
				font-weight: 300;
				color: #aaa;
				text-transform: uppercase;
			}
		}
	}
}

.checkout-title{
	font-size: 1em;
	font-weight: 500;
	text-transform: uppercase;
	color: $color-dark;
	margin-top: 0;
	margin-bottom: 15px;
}

.checkout-register{
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	font-size: .88em;
	.checkbox label.i-checks{
		> i{
			border-color: #aaaaaa;
		}
		input:checked + i{
			border-color: $color-primary;
		}
	}
}

.shipping_methods{
	border-bottom: 1px solid $border-color;
	padding-bottom: 40px;
	margin-bottom: 40px;
	&.row{
		margin-left: -5px;
		margin-right: -5px;
		> div{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.shipping-method{
		
		.shipping-method-label{
			position: relative;
			.checkbox{
				background: #fff;
				border:1px solid $border-color;
				font-size: .83em;
				text-transform: uppercase;
				padding: 15px 10px 12px;
				margin:0;
				line-height: 0;
				label{
					min-height:0;
					margin-bottom: 0;
					font-weight: 600;
					line-height: 1;
					color: $color-dark;
					position: relative;
					&.i-checks {
						vertical-align: top;
						> i{
							width: 13px;
							height: 13px;
							left:0;top:0;
							margin:0;
							position: absolute;
							border-color: #aaaaaa;
							&:before{
								width: 13px;
								height: 13px;
								left:0;
								top:1px;
								font-size: .9em
							}
						}
						input:checked + i{
							border-color: $color-primary;
						}
					}

					.amount{
						padding-top: 5px;
						display: block;
						color: #aaaaaa;
						font-weight: 300;
					}
				}
			}

			.shipping-method-info{
				position: absolute;
				top:12px;
				right:10px;
				color: $color-dark;
				font-size: 20px;
				z-index: 2;
				cursor: pointer;
				transition-duration: $duration;
				&:hover{
					color: darken($color-secondary, 30%);
				}
				&.info-shown{
					top:100%;
					margin-top: -12px;
					color: $color-secondary;
				}
			}
		}

		.shipping-method-description{
			background: $color-light; 
			border:1px solid $border-color;
			border-top: 0;
			p{
				font-size: 16px;
				line-height: 22px;
				padding: 15px 10px;
				margin-bottom: 0;
			}
		}
	}
}

.woocommerce-billing-fields,
.woocommerce-MyAccount-content form{
	padding-bottom: 45px;
	@include form-group();
	.form-group{
		&#billing_country_field strong{
			@include form-control();
			display: block;
		}
	}
	.row{
		margin-left: -10px;
		margin-right: -10px;
		> div{
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.checkout-register{
		margin-top: 20px;
	}
}

.woocommerce-checkout{
	.buttons{
		.btn-right{
			text-align: right;
		}
	}

	.woocommerce-info,
	.woocommerce-error{
		margin-bottom: 35px;
	}

	#header .header-menu{
		padding-left: 0;
		.menu{
			li{
				a{
					padding:0 3em;
					border-right: 1px solid $border-color;
					color: #828282;
					text-transform: uppercase;
					font-weight: 500;
					background: #fdfdfd;
					margin-top: -1px;
					&:hover{
						background: darken(#fdfdfd, 2%);
						color: darken(#828282, 5%);
					}
				}
				&.active{
					a{
						color: $color-primary;
						background: #fff; 
					}
				}
			}
		}
	}

	.selectize-dropdown,
	.selectize-dropdown.form-control {
	  height: auto;
	  padding: 0;
	  margin: 5px 0 0 0;
	  z-index: 1000;
	  background: #ffffff;
	  border: 1px solid #e1e1e1;
	  border: 1px solid rgba(0, 0, 0, 0.15);
	}

	.form-control.selectize-control {
	  padding: 0;
	  height: auto;
	  border: none;
	  background: none;
	}

	.selectize-dropdown-header,
	.selectize-input,
	.selectize-dropdown,
	.selectize-dropdown.form-control,
	.selectize-input.dropdown-active,
	.selectize-dropdown,
	.selectize-control.multi .selectize-input > div{
	 border-radius: 3px;
	}

	.selectize-input{
		@include form-control();
		padding: 19px 20px 15px;
		&.focus{
			border-color: #ccc;
		}
	}

}

.checkout_coupon{
	border-bottom: 1px solid $border-color;
	.form-control{
		color: $color-dark;
		font-size: 1em;
		font-weight: 300;
		padding: 15px 1em;
		height: 56px;
		border:0;
		&::placeholder{
			color: #aaaaaa;
			opacity: 1;
			font-style:italic;
		}
	}
	.input-group-btn{
		height: 100%;
		vertical-align: top;
		.btn{
			margin-left: 0;
			font-weight: bold;
			font-size: 25px;
			height: 56px;
			width: 56px;
			padding:5px 0 0;
			line-height: 0;
		}
	}
}

// Thankyou
.thankyou{
	text-align: center;
	&.thankyou-success{
		.title, .icon{
			color: $color-success;
		}
	}
	&.thankyou-failed{
		.title, .icon{
			color: $color-danger;
		}
	}
	.title{
		font-size: 1.94em;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
		margin:0;
		&:after{
			max-width: 520px;
			width: 100%;
			border-bottom: 1px solid $border-color;
			content:"";
			display: block;
			margin:20px auto;
		}
	}
	.icon{
		margin-bottom: 20px;
		i{
			font-size: 2.22em;
		}
	}
	p{
		margin-bottom: 60px;
	}
}	

#showlogin{
	border-bottom: 1px solid $border-color;
	margin-bottom: 25px;
	.row{
		padding-bottom: 25px;
	}
	.wp-social-login-connect-with{
		@include title();
	}
}

.payment_methods{
	margin-bottom: 2em;
	&.row{
		margin-left: -10px;
		margin-right: -10px;
		> div{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.wc_payment_method{
		background: #fff;
		border-radius: 3px;
		border:1px solid $border-color;
		padding: 10px;

		.payment_box{
			color: #828282;
			font-size: .88em;
			line-height: 1.33em;
			p{
				margin-bottom: 0;
			}
		}
	}
}