.filters{
	background-color: #fff;
	margin-bottom: 1em;
	border:1px solid $border-color;
	border-left: 0;
	display: table;
	width: 100%;
	height: 80px;
	font-size: $font-size-sm;

	> form{
		display: table-cell;
		border-left: 1px solid $border-color;
		height: 100%;
		vertical-align: middle;
		width: auto;
		padding: 3px 15px 0;
		// padding: 0 15px;
		position: relative;

		&.woocommerce-ordering, 
		&.ma-show{
			padding: 3px 30px 0;
			label{
				padding-right: 10px;
			}
		}

		.table{
			width: auto;
			margin-bottom: 0;
			display: table;
			> *{
				display: table-cell;
			}
		}

		.selectize-control{
			position: static;
			.selectize-input{
				white-space: nowrap;
				min-height: 0;
				border:0;
				padding:0;
				display: inline !important;
				width: auto;
				border-radius: 0;
				line-height: normal;
				padding-right: 15px;
				color: $color-primary;
				> input{
					display: none !important;
				}

				&:after{
					right: 0;
					color: $color-primary;
					border:0;
					font: normal normal normal 18px/1 FontAwesome;
					content:"\f107";
					top:50%;
					margin-top: -9px;
				}
				&.dropdown-active:after{
					margin-top: -9px;
					content:"\f106";
				}
			}
			.selectize-dropdown{
				left:0 !important;
				width: 100% !important;
				top:100% !important;
				margin:0;
				border:1px solid $border-color;
				.selectize-dropdown-content{
					padding:0;
					min-height: 200px;
				}
				.option{
					border-bottom: 1px solid $border-color;
					height: 80px;
					line-height: 80px;
					color: $color-dark;
					padding-left: 30px;
					padding-right: 30px;
					&.selected{
						background-color: $color-light;
						color: $color-primary;
					}
				}
			}
		}
	}

	// Woocommerce ordering
	.woocommerce-ordering{
		label{
			white-space: nowrap;
		}
	}
	
	// Layout switch
	.ma-layout-switch{
		.radio{
			padding:0 15px;
			input{
				position: absolute;
				opacity: 0;
				&:checked + i{
					color: $color-primary;
				}
			}
			label{
				padding:0;
				margin:0;
				min-height: 0;
			}
		}
	}
	
	// Filter type
	.ma-type{
		width: 100%;
		.checkbox{
			padding:0 15px;
			white-space: nowrap;
			span{
				margin-right: 3px;
				font-size: .88em;
			}
		}
	}
}

.i-checks {
	font-size: 1em;
	> i{
		width: 16px;
		height: 16px;
		border:1px solid $color-dark;
		border-radius: 3px;
		font: normal normal normal 12px/1 FontAwesome;
		transition-duration: $duration-sm;
		&:before{
			color: #fff;
			left:1px;
			top:1px;
			width: 16px;
			height: 16px;
			content:"\f00c";
		}
	}
	input:checked + i{
		background-color: $color-primary;
		border-color: $color-primary;
	}
}