.widget_minicart{
	.cart_list {
		width: auto;
		min-width: 100%;
		table-layout: fixed;
	}
	.mini_cart_item{
		border-bottom: 1px solid $border-color;
		&:last-of-type{
			border-bottom: 0;
		}
	}

	.shipping{
		border-top: 1px solid $border-color;
		padding-top: 1.5em;
	}

	.summary{
		height: auto;
		min-width: 100%;
		width: auto;
		.col{
			vertical-align: middle;
			p{
				margin-bottom: 0;
			}
		}
		.col-checkout{
			width: auto;
		}
		.col-subtotal{
			padding-right: 3em;
			width: 100%;
			font-weight: 300;
			text-align: right;
			text-transform: uppercase;
			strong{
				font-weight: 600;
				color: $color-primary;
				font-size: 1.38em;
			}
		}
	}

	.shipping_methods.row{
		margin-bottom:25px;
		padding-bottom: 25px;
		margin-top: -15px;
		> div{
			margin-top: 15px;
		}
	}

	.heading{
		border-bottom: 1px solid $border-color;
		padding-bottom: 12px;
		a{
			font-weight: 500;
			text-transform: uppercase;
			color: $color-dark;
			span{
				color: #828282;
				font-weight: 300;
				text-transform: none
			}
		}

		.force-close{
			font-size: .88em;
			float: right;
			cursor: pointer;
		}
	}

	.button{
		i{
			margin-right: 0 !important;
		}
		> div{
			position: relative;
            padding-top: 28px;
            .icon{
                position: relative;
                display: inline-block;
                .badge{
    				background: $color-primary;
    				position: absolute;
    				display: none;
    				width: 28px;
    				height: 28px;
    				border:2px solid #fff;
    				border-radius: 50%;
    				line-height: 25px;
    				text-align: center;
    				padding:1px 0 0;
    				vertical-align: bottom;
    				display: block;
    				margin-top: -15px;
                    margin-left: -10px;
    				top:0;
                    left:100%;
    				font-size: 15px;
    			}
            }

			.subtotal{
                display: block;
                margin-top: 10px;
				text-align: center;
				color: $color-primary;
				font-size: 1em;
				font-weight: 600;
			}
		}
	}

	.empty{
		td{
			padding:15px 0 0;
			color: #828282;
		}
	}
}
