.wp-social-login-widget{

	.wp-social-login-provider-list{
		padding:0;
		&:after{
			@include after-clear();
		}
		a{
			float: left;
			width: 40px;
			height: 40px;
			margin-right: 5px;
			display: block;
			text-align: center;
			color: #fff;
			transition-duration: $duration-sm;
			&.wsl-facebook{
				background: #3e5b98;
				&:hover{background: darken(#3e5b98, 5%)}
			}
			&.wsl-draugiem{
				background: #ff6600;
				&:hover{background: darken(#ff6600, 5%)}
			}
			&.wsl-twitter{
				background: #4da7de;
				&:hover{background: darken(#4da7de, 5%)}
			}
			&.wsl-google{
				background: #dd4b39;
				&:hover{background: darken(#dd4b39, 5%)}
			}

			i{
				&:before{
					line-height: 40px;
				}
			}
		}
	}
}

.account-title{
	@include title();
}

.login{
	background: #fff;
	padding: 1em;
	border:1px solid $border-color;
	@include form-group();	
	margin-bottom: 15px;

	.rememberme{
		padding-left: 1em;
		font-size: .88em;
	}

	.checkbox label.i-checks{
		> i{
			border-color: #aaaaaa;
		}
		input:checked + i{
			border-color: $color-primary;
		}
	}
}

.lost-password{
	font-size: .88em;
	color: $color-secondary;
	text-decoration: underline;
	// text-align: center;
	display: block;
	&:hover{
		text-decoration: none;
	}
}

.woocommerce-account .app-main{
	form{
		@extend .login;
	}

	#customer_login{
		padding-bottom: 45px;
	}

	.wp-social-login-widget{
		.wp-social-login-connect-with{
			@include title();
		}

		.wp-social-login-provider-list{
			background: #fff;
			border:1px solid $border-color;
			padding: 1em;
		}
	}

	.woocommerce-error{
		margin-bottom: 3em;
	}
}

.woocommerce-MyAccount-navigation{
	@include tabs();
	margin-bottom: 2em;
	ul{
		li{
			a{
				padding: 18px 1.5em 13px 1.5em;
				min-width: 0;
			}
		}
	}
}

.account-orders-table{
	background: #fff;
	border:1px solid $border-color;
	width: 100%;
	th, td{
		padding: 14px 20px 10px;
		border-bottom: 1px solid $border-color;
	}
	tbody{
		tr:nth-child(2n-1){
			th, td{
				background: darken(#fff, 2%);
			}
		}
	}

	.order-actions{
		text-align: right;
	}
}

.woocommerce-account{
	.app-content{
		.button, .edit{
			padding: 8px 15px 4px;
			background: $color-primary;
			color: #fff;
			display: inline-block;
			border:0;
			text-transform: uppercase;
			font-weight: 500;
			font-size: .88em;
			&:hover{
				background: darken($color-primary, 5%);
			}
		}
	}

	.title{
		@include title();
	}

	.checkout_table{
		background: #fff;
		border:1px solid $border-color;
	}

	p mark{
		background-color: $color-secondary;
		color: #fff;
	}
}
