@mixin tabs(){
	ul{
		@extend ul.no-style;
		border-bottom: 1px solid $border-color;
		margin-bottom: 1em;
		font-size: $font-size-sm;
		li{
			float: left;
			a{
				padding: 18px 3em 13px 3em;
				min-width: 12em;
				text-align: center;
				background: #fff;
				border: 1px solid $border-color;
				border-bottom: 0;
				border-left: 0;
				display: block;
				font-weight: 600;
				text-transform: uppercase;
				color: $color-dark;
			}
			&:first-of-type{
				a{
					border-left: 1px solid $border-color;
				}
			}
			&.active,
			&.is-active{
				a{
					background: $color-secondary;
					color: #fff;
				}
			}
		}
		&:after{
			@include after-clear();
		}
	}
}

.product-tabs{
	margin-bottom: 4em;
	@include tabs();
}