.products{
	.product{
		border:1px solid $border-color;
		background: #fff;

		.product-title{
			&.hbox{
				table-layout: auto;
				height: auto;
			}
			.hbox{
				display: none;
			}
			padding: 2em 2em 1.7em;

			.title{
				width: 100%;
				> *{
					margin:0;
					color: $color-dark;
					font-size: 1em;
					font-weight: 600;
					text-transform: uppercase;
				}
				> .subtitle{
					padding-top: 5px;
					color: #828282;
					font-weight: 400;
					font-size: 1em;
					text-transform: none;
				}
			}

			.after-title{
				width: auto;
			}

			.onsale{
				display: none;
			}
		}

		.product-image{
			display: table;
			width: 100%;
			.image{
				display: table-cell;
				vertical-align: middle;
				padding: 1em;
				img{
					max-width: 100%;
					height: auto;
				}
			}

			.product-hover{
				padding: 0 3em;
				background: rgba(#000, 0);
				visibility: hidden;
				transition-duration: $duration;
				.btn{
					margin: 1em 0;
					width: 100%;
					font-size: $font-size-sm;
					font-weight: bold;
					text-transform: uppercase;
					padding: 22px 1.5em 18px 2em;
					text-align: left;
					border-radius: 3px;
					opacity: 0;
					transition-duration-delay: $duration-sm;
					transition-duration: $duration;
					i{
						text-align: left;
						float: left;
						font-size: 1em;
					}
					span{
						display: block;
						width: auto;
						overflow: hidden;
						text-align: center;
					}
					&.btn-default{
						color: $color-secondary;
						transform: translateY(100%);
						border:0;
						&:hover{
							color: darken($color-secondary, 10%) !important;
						}
					}
					&.btn-secondary{
						transform: translateY(-100%);
					}
				}
			}

			&:hover{
				.product-hover{
					background: rgba(#000, .8);
					visibility: visible;
					.btn{
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}

		> .add_to_cart_button{
			display: none;
		}
		.added_to_cart{
			display: none;
		}

		&:hover{
			.product-image{
				.image{
					.product-type{
						span{
							display: inline-block;
						}
					}
				}
			}
		}
	}

	.row {
		margin-left: -0.5em;
		margin-right: -0.5em;
		> div{
			padding-left: .5em;
			padding-right: .5em;
			.product{
				margin-bottom: 1em;
			}
		}
	}

	&.products-list{
		.row{
			> div{
				width: 100% !important;
			}
		}

		.product{
			display: table;
			table-layout: fixed;
			width: auto;
			min-width: 100%;

			.product-image{
				padding: 25px 50px;
				display: table-cell;
				width: auto;
				vertical-align: middle;
				.image{
					display: block;
					width: 180px;
				}
				.onsale, .product-hover{
					display: none;
				}
			}

			.product-title{
				width: 100%;
				display: table-cell;
				vertical-align: middle;
				padding-left: 0;
				> .col{
					display: none;
				}

				> .hbox{
					display: table;
					width: 100%;
					table-layout: auto;
					.after-title{
						&:after{
							display: block;
							content: "";
							clear: both;
						}
						.hbox{
							display: table;
							table-layout: auto;
							> *{
								display: table-cell;
								vertical-align: middle;
								&.price{
									padding-left: 30px;
								}
							}
						}
					}
				}
				
				.price{
					padding-top: 4px;
					
				}
				.onsale{
					display: block;
				}
			}

			> .add_to_cart_button{
				display: table-cell;
				padding: 5px 30px 0;
				background:$color-secondary;
				border:0;
				border-left: 1px solid $border-color;
				color: #fff;
				i{
					&:before{
						font-size: 1.6em;
					}
				}
				&:hover{
					background: darken($color-secondary, 5%);
				}
				span{
					display: block;
					padding-top: 10px;
					text-transform: uppercase;
					font-weight: 600;
					// display: none;
				}
			}
		}
	}
}

.onsale{
	font-size: $font-size-lg;
	color: #fff;
	text-transform: uppercase;
	background: $color-primary;
	padding: 20px 35px 13px;
	font-weight: bold;
	z-index: 1;
}

.price{
	width: auto;
	white-space: nowrap;
	> *{
		display: block;
	}
	> ins, > .amount{
		font-weight: 600;
		color: $color-primary;
		text-decoration: none;
		font-size: 1.5em;
	}
	del{
		padding-top: 8px;
		font-size: $font-size-sm;
		font-weight: 400;
		color: #828282;
	}
}

.product-type{
	height: 50px;
	border-radius: 25px;
	background: rgba(#000, .8);
	display: inline-block;
	color:#fff;
	position: absolute;
	top:.5em;
	left:1em;
	white-space: nowrap;
	i{
		font-size: 1em;
		width: 50px;
		text-align: center;
		display: inline-block;
		&:before{
			line-height: 50px;
		}
	}
	span{
		padding-right: 25px;
		font-weight: 600;
		text-transform: uppercase;
		display: none;
		transition-duration: $duration-sm;
	}
}

.product-image{
	text-align: center;
	position: relative;
	.onsale{
		position: absolute;
		top:0;right:0;
	}
	.product-hover{
		position: absolute;
		z-index: 5;
		top:0;left:0;right:0;bottom:0;
		background: rgba(#000, .8);
	}
}

// Pagination
.woocommerce-pagination{
	text-align: center;
	padding: 2em 0 3em;
	ul.page-numbers{
		display: inline-block;
		@extend ul.no-style;
		border:1px solid $border-color;
		border-right: 0;
		li{
			float: left;
			> *{
				display: block;
				height: 3.3em;
				width: 3.3em;
				line-height: 3.3em;
				background-color: #fff;
				padding-top: 2px;
				border-right: 1px solid $border-color;
				font-weight: 600;
			}
			.current{
				background-color: #fdfdfd;
				color: #aaaaaa;

			}
		}
	}
}

.related.products{
	> .title{
		@include title();
	}
}