#reviews{
	#comments{
		.commentlist{
			@extend ul.no-style;

			.comment{
				border-bottom: 1px solid $border-color;
				padding: 1em;
				.title{
					font-weight: 600;
				}
				.description{
					font-size: .83em;
					color: #828282;
					line-height: 1.3em;
					margin-bottom: 1em;
				}

				.comment-meta{
					display: table;
					table-layout: auto;
					width: 100%;
					> *{
						display: table-cell;
						vertical-align: middle;
					}
					.gravatar{
						width: 60px;
						img{
							max-width: 100%;
							height: auto;
						}
					}
					.meta{
						padding-left: 1em;
						margin-bottom: 0;
						line-height: 1em;
						.comment-author{
							display: block;
							font-weight: 600;
							font-size: 1em;
							color: $color-primary;
						}
						.comment-date{
							font-size: .83em;
							color: #828282;
							line-height: 1.3em;
						}
					}
					&:after{
						@include after-clear();
					}
				}
			}
		}
	}

	#review_form_wrapper{
		position: absolute;
		top:0;left:0;right:0;bottom:0;
		z-index: 4;
		background:$color-light;
		opacity: 1;
		visibility: visible;
		transition-duration: $duration;

		&.hidden{
			opacity: 0;
			visibility: hidden;
			display: block !important;
		}
		#review_form{
			#respond{
				padding: 0 1em 1em;
			}

			.close-review{
				padding: 1em;
				width: 100%;
				text-align: right;
				text-transform: uppercase;
				cursor: pointer;
				span{
					font-size: .75em;
					font-weight: 300;
					&:after{
						content:" x";
					}
				}
			}
			.comment-reply-title{
				display: none;
			}

			.form-group, .form-input{
				margin-bottom: .5em;
			}

			.form-control{
				border-radius: 0;
				font-size: .88em;
				font-weight: 300;
				padding: 12px 15px 10px;
				&:focus{
					border-color: darken($border-color, 5%);
				}
			}
			input.form-control{
				height: 42px;
			}
			textarea.form-control{
				resize: none;
			}

			.btn{
				padding: 11px 20px 7px;
				font-size: .88em;
				font-weight: 300;
				text-transform: uppercase;
				width: 100%;
			}

			.must-log-in{
				color: #828282;
				font-size: .88em;
				text-align: center;
				background: #fff;
				margin-bottom: 0;
				padding: 15px 10px 10px;
				border:1px solid $border-color;
				a{
					color: $color-secondary;
					text-decoration: underline;
				}
			}
		}
	}

	#review-login{
		.login{
			padding: 0 1em 1em;
			background:0;
			border:0;
			margin-bottom: 0;

			.rememberme{
				display: none !important;
				padding-left: 0;
			}
		}

		a.lost-password{
			display: none;
			color: $color-primary;
			padding: 1em;
			background: #f1f1f1;
			border-top: 1px solid #e1e1e1;
			font-size: 14px;
			text-align: center;
			&:hover{
				text-decoration: underline;
			}
		}

		.wp-social-login-widget{
			border-top: 1px solid #e1e1e1;
			padding: 1em 1em;
			.wp-social-login-connect-with{
				text-transform:uppercase;
				font-size: 16px;
				margin-bottom: 10px;
			}
		}
	}

	.btn-add-review{
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		color: $color-secondary;
		width: 100%;
		padding: 30px 0 25px;
	}

	// Scroll
	&.vbox .row-row .cell{
		overflow: visible;

		.mCSB_inside > .mCSB_container{
			margin-right: 0;
			z-index: 1;
		}
		.mCSB_scrollTools{
			width: 1em;
			background: #f1f1f1;
			z-index: 3;

			.mCSB_dragger{
				padding: 2px;
				.mCSB_dragger_bar{
					width: 100%;
					background: #c1c1c1;
					border-radius: 0;
				}
			}

			.mCSB_draggerRail{
				width: 100%;
				border-radius: 0;
				background: #f1f1f1;
			}
		}
	}

	.mCustomScrollBox{
		&:after{
			position: absolute;
			bottom:0;
			width: 100%;
			left:0;
			height: 115px;
			content:"";
			z-index: 2;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+0,fdfdfd+100&0+0,1+100 */
			background: -moz-linear-gradient(top,  rgba(253,253,253,0) 0%, rgba(253,253,253,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(253,253,253,0) 0%,rgba(253,253,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(253,253,253,0) 0%,rgba(253,253,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fdfdfd', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
		}
	}


	.woocommerce-noreviews{
		padding: 1em;
		color: #828282;
		text-align: center;
	}
}