.search-box{
	background-color: $color-primary;
	@extend .bg-cover;
	height: 23em;
	padding: 0 8em;
	display: table;
	width: 100%;
	margin-bottom: 1em;
	position: relative;
	z-index: 2;
	.title{
		color: #fff;
		font-size: 2em;
		font-weight: 300;
		margin-bottom: .7em;
		line-height: normal;
	}

	.middle{
		display: table-cell;
		vertical-align: middle;
	}

	.search-form{
		input{
			height: 80px;
			font-size: 1em;
			font-weight: 300;
			padding: 28px 0 24px 1.5em;
			border:0;
			border-radius: 3px;
			&::placeholder{
				font-style: italic;
				color: #828282;
				opacity: 1;
			}
		}
		.input-group-btn{
			font-size: 1em;
		}

		.btn{
			margin-left: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			color: $color-primary;
			font-size: 1em;
			background: #fff;
			height: 80px;
			width: 80px;
			&:hover{
				color: darken($color-primary, 15%);
			}
			&:focus{
				box-shadow: 0 0 0 #000;
				color: darken($color-primary, 25%);
			}
		}
	}

	.search-box-content{
		position: relative;
		#search-results{
			position: absolute;
			top:100%;
			left:0;
			width: 100%;
			margin-top: 10px;
			background: #fff;
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(#000, .2);
			padding: 24px;
			opacity: 1;
			transform: translateY(0);
			transition: .25s opacity, .25s opacity;
			visibility: visible;

			&.hidden{
				opacity: 0;
				transform: translateY(-10px);
				visibility: hidden;
			}

			.search-product{
				display: flex;
				flex-direction: row;
				align-items: center;
				.product-image{
					width: 60px;
					height: 60px;
					margin-right: 15px;
					img{
						max-width: 100%;
						height: auto;
					}
				}
				.product-title{
					flex:1;
					.title{
						color: $text-color;
						font-size: 18px;
					}
				}
			}
		}
	}
}

.search-form{

}
