#product{
	background-color: #fff;
	border:1px solid $border-color;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 510px;
	margin-bottom: 3em;
	font-size: $font-size-sm;
	> div{
		display: table-cell;
		height: 100%;
		vertical-align: top;

		&.before-summary{
			width: 23%;
			position: relative;
			text-align: center;
		}
		&.summary{
			padding:40px;
			padding-left: 0;
		}
		&.after-summary{
			width:25%;
			background:$color-light;
			border-left: 1px solid $border-color;
		}
	}

	.images{
		padding: 40px;
		img{
			max-width: 100%;
			height: auto;
		}
	}

	.summary-header,
	.summary-main{
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid $border-color;
		&:after{
			display: block;
			clear: both;
			content:"";
		}
	}

	.summary-main{
		@include text();
	}

	.product_title{
		font-size: 1.38em;
		text-transform: uppercase;
		font-weight: bold;
		margin:0 0 .3em;
	}

	.onsale{
		display: inline-block;
		float: left;
		margin-right: 1em;
		font-size: 1em;
		padding: 13px 20px 7px;
		+ div{
			width: auto;
			overflow: hidden;
		}
	}

	.price{
		margin-bottom: 0;
		padding-top: 3px;
		> *{
			display: inline-block;
			vertical-align: bottom;
		}
		del{
			padding-left: 18px;
			color: #aaaaaa;
		}
	}

	.product-links{
		@extend ul.no-style;
		margin-bottom: 1em;
		li{
			float: left;
			&:not(:last-of-type):after{
				content: "|";
				color: #bdbdbd;
				margin:0 1em;
			}
			a{
				color: $color-secondary;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&:after{
			@include after-clear();
		}
	}

	.shop_attributes{
		@extend ul.no-style;
		margin-bottom: 1em;
		li{
			color: #828282;
			strong, span{
				display: inline-block;
			}
			strong{
				font-weight: 600;
			}
		}
	}
	
	.quantity{
		input{
			height: 54px;
		}
		margin-right: 1em;
	}

	.btn-add-to-cart{
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	.post-share{
		color: #828282;
		a{
			transition-duration: $duration-sm;
			&:hover{
				color: $color-primary;
			}
		}
	}
	

	& + .alert{
		margin-top: -2em;
		margin-bottom: 3em;
	}
}

.popup{
	position: relative;
	background: #FFF;
	padding: 1em;
	width: auto;
	max-width: 800px;
	margin: 1em auto;

	table{
		margin-bottom: 1em;
		border:1px solid $border-color;
		border-bottom: 0;
		tr{
			td, th{
				border-bottom: 1px solid $border-color;
				padding: .5em .5em;
			}
			&:nth-child(2n){
				td, th{
					background: darken(#fff, 2%);
				}
			}
			td{
				font-weight: 400;
				color: #828282;
			}
			th{
				font-weight: 600;
			}
		}
	}

	> *{
		margin-bottom: 0;
	}

	.popup-title{
		@include title();
	}
	.popup-text{
		@include text();
	}
}

@import "reviews";