.widget_recent_posts.widget{
	padding: 0;
	border:0;
	text-align: left;
	.post{
		border-bottom: 1px solid $border-color;
		background: #fff;
		padding: 1.3em 2em;
		display: block;
		.post-date{
			font-size: $font-size-xs;
			text-transform: uppercase;
			font-weight: 300;
			color: #828282;
		}
		.post-title{
			margin:0;
			font-size: $font-size;
			font-weight: 500;
		}

		&.active{
			box-shadow: 5px 0 0 $color-primary inset;
			background: $color-light;
		}
	}

	& + #posts-bottom{
		width: 100%;
	}
}

#load-sidebar-posts{
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	z-index: 4;
	i{
		color: $color-secondary;
		font-size: 1.33em;
	}
	background: rgba(#fff, .9);
	&:before{
		content:"";
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		margin-top: -30px;
		height: 30px;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,.9) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,.9) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,.9) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); 
	}
}

.app-aside{
	.aside-wrap{
		.mCSB_inside > .mCSB_container{
			margin-right: 0;
		}
		.mCSB_scrollTools{
			width: .7em;
			background: #f1f1f1;
			z-index: 3;

			.mCSB_dragger{
				padding: 2px;
				.mCSB_dragger_bar{
					width: 100%;
					background: #c1c1c1;
					border-radius: 0;
				}
			}

			.mCSB_draggerRail{
				width: 100%;
				border-radius: 0;
				background: #f1f1f1;
			}
		}
	}
}