// Footer Widgets
#footer{
	.widget-title{
		border-bottom: 1px solid #777777;
		margin-bottom: 1em;
		padding-bottom: .5em;
		> *{
			color: #bfbfbf;
			font-weight: 600;
			font-size: 1em;
			text-transform: uppercase;
			margin:0;
		}
	}	

	.col .widget{
		padding: 0 1.5em;
	}

	.widget_nav_menu{
		.menu{
			@extend ul.no-style;
			font-size: $font-size-sm;
			li{
				margin-bottom: 1.6em;
				a{
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	.widget_shops{
		// background: red;
		.selectize-control{
			margin-bottom: 25px;

			.selectize-input{
				background: #777777;
				border:0;
				color: #fff;
				line-height: normal;
				padding: 12px 25px 8px;
				min-height: 49px;
				input {
					color: #fff;
				}
				&.dropdown-active{
					&:after{
						border-color: transparent transparent #bfbfbf transparent;
					}
				}
				&:after{
					border-color: #bfbfbf transparent transparent transparent;
				}
			}

			.selectize-dropdown{
				background: lighten(#777,10%);
				border:0;
				margin-top: 5px;
				.option{
					padding: 4px 25px 0;
					line-height: normal;
					color: #eee;
					&.active{
						background: lighten(#777, 5%);
					}
				}
			}
		}

		.shop-details{
			@extend ul.no-style;
			li{
				margin-bottom: 18px;
				i{
					margin-right: 5px;
					font-size: .95em;
				}
				a{
					font-weight: 600;
					&:hover{
						text-decoration: underline;
					}
				}
				strong{
					font-weight: 600;
				}
			}
		}
	}
}
