#header .header-widgets{
	.widget{
		border-left: 1px solid #ebebeb;
		font-size: $font-size-sm;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;

		.button{
			flex:1;
            min-width: 120px;
            width: 100%;
            align-content: center;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            padding:0 25px;

            text-transform: uppercase;
            white-space: nowrap;
            font-weight: 600;
            position: relative;

			strong{
				font-weight: 600;
			}

			i{
				font-size: 20px;
                & + strong{
                    margin-left: 10px;
                }
			}
		}

        &:hover{
            .dropdown{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

		.dropdown{
            margin-top: 1px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			transform: translateY(50px);
			transition-duration: $duration;
			top:100%;
			right:0;
			left:1em;
			.scrollable{
				max-height: 100%;
				.mCSB_inside > .mCSB_container{
					margin-right: 0;
					z-index: 1;
				}
				.mCSB_scrollTools{
					width: 1em;
					background: #f1f1f1;
					z-index: 3;

					.mCSB_draggerContainer{
						top:2px;left:2px;right:2px;bottom:2px;
					}

					.mCSB_dragger{
						// padding: 2px;
						.mCSB_dragger_bar{
							width: 100%;
							background: #c1c1c1;
							border-radius: 0;
						}
					}

					.mCSB_draggerRail{
						width: 100%;
						border-radius: 0;
						background: #f1f1f1;
					}
				}
			}
			.dropdown-container{
				padding: 1.5em 3em;
				background: #fff;
				border:1px solid $border-color;
				border-top: 0;
			}
		}
	}

    .widget_hamburger_button,
	.widget_search_button{
        position: relative;
        .dropdown{
            left:auto;
        }
    }

    .widget_search_button{
		.dropdown{
			.dropdown-container{
				padding: 1.5em 1em 1.2em;
				width: 450px;
			}
		}
		.search-form{
			input{
				border:0;
				border-bottom: 1px solid $border-color;
				font-size: 1em;
				font-weight: 300;
				&:focus{
					border-color: darken($border-color, 10%);
				}
			}
			.btn{
				margin-left: 0;
				background: 0;
				color: #a3a3a3;
				font-size: 20px;
				padding-left: 2em;
			}
		}
	}

	.widget_hamburger_button{
		.dropdown{
			.dropdown-container{
				width: 300px;
				padding:0;
			}
			ul{
				@extend ul.no-style;
				li{
					a{
						border-bottom: 1px solid $border-color;
						padding: 15px;
						display: block;
						&:hover{
							background: darken(#fff, 2%);
						}
					}
					&:last-of-type{
						a{
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}
