.widget_delivery_text{
	text-align: center;
}

// Categories
.widget_category-list{
	.product-categories{
		@extend ul.no-style;
		> li{
			position: relative;
			> a{
				padding: 1.2em 1em 1.2em 2em;
				display: block;
				font-weight: 500;
				border-bottom: 1px solid $border-color;
				transition-duration: $duration-sm;
				background: #fff;
				> *{
					vertical-align: middle;
					display: inline-block;
				}
				span{
					font-size: $font-size-sm;
				}
				i{
					&:before{
						font-size: $font-size-sm;
					}
					margin-right: 1em;
					color: $color-primary;
					transition-duration: $duration-sm;
				}
			}

			&:after{
				border-right:1px solid #f9f9f9;
				position: absolute;
				top:0;
				right:0;
				bottom:0;
				margin-right: -1px;
				display: none;
				content:"";
			}
			&.current-cat{
				> a{
					background: #f9f9f9;
					box-shadow:5px 0 0 $color-primary inset;
					i{
						color: darken($color-primary, 10%);
					}
				}
				&:after{
					display: block;
				}
			}

			&:hover,
			&.hover{
				> a{
					background: #fdfdfd;
					i{
						color: darken($color-primary, 10%);
					}
				}
				.dropdown{
					visibility: visible;
					opacity: 1;
					transform: translateY(0)
				}
				&:after{
					display: block;
					border-color: #fdfdfd;
				}
			}

			.dropdown{
				position: absolute;
				left:100%;
				width: 1000px;
				padding: 15px 30px 15px;
				top:0;
				opacity: 0;
				visibility: hidden;
				transform: translateY(10px);
				transition-duration: $duration;
				background: $color-light;
				border:1px solid $border-color;
				margin-top: -1px;

				> .children{
					@extend ul.no-style;
					.children-title{
						color: $color-secondary;
						text-transform: uppercase;
						font-weight: 500;
						white-space: nowrap;
						margin-bottom: 14px;
						display: block;
						font-size: 18px;
						&:hover{
							color: darken($color-secondary, 5%);
						}
					}

                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -30px;
                    margin-right: -30px;
                    overflow: hidden;

                    > li{
                        -webkit-box-flex: 0;
                        flex: 0 0 33.333333%;
                        max-width: 33.333333%;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 15px;
                        margin-bottom: 15px;
                        position: relative;

                        &:after{
                            position: absolute;
                            content:"";
                            top:0;
                            height: 1000px;
                            border-right: 1px solid #ebebeb;
                            left:0;
                        }
                        &:nth-child(3n-2){
                            &:after{
                                display: none;
                            }
                        }
                    }

					ul.children{
						@extend ul.no-style;
						font-size: 15px;
                        li{
                            margin-bottom: 5px;
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                        }
					}
				}
			}
		}
	}
}

// Social
.widget_social{
	ul{
		padding-top: 10px;
		@extend ul.no-style;
		li{
			display: inline-block;
			margin:0 12px;
			a{
				color: #828282;
				transition-duration: $duration-sm;
				i{
					font-size: $font-size-md;
				}
				&:hover{
					color: $color-primary;
				}
			}
		}
	}
}

// Subscribe
.widget_subscribe_form{
	.input-group{
		padding-top: 15px;
		input{
			border:0;
			background: #ebebeb;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			height: 46px;
			padding: 13px 22px 11px;
			box-shadow: 0 0 0 rgba(#000,0);
			font-size: $font-size * .8;
			&::placeholder{
				color: #828282;
				opacity: 1;
				font-style: italic;
			}
		}
		.btn{
			margin-left: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			height: 46px;
			padding: 13px 22px 11px;
			font-size: $font-size * .8;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	div.mce_inline_error{
		margin-top: 10px;
	    top: 100%;
	    left: 0;
	    width: 100%;
	    background: $color-danger;
	    color: #fff;
	    padding: 11px 15px 8px;
	    border-radius: 3px;
	    text-align: center;
	    font-size: .8em;
	    position: absolute;
	    box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.2);

	    opacity: 1;
	    visibility: visible;
	    transition-duration: $duration-sm;
	    transform: translateY(0);

	    &:before {
	        content: "";
	        top: 0;
	        margin-top: -5px;
	        width: 0;
	        height: 0;
	        border-style: solid;
	        border-width: 0px 5px 5px 5px;
	        border-color:   transparent transparent $color-danger transparent;
	        left: 50%;
	        margin-left: -5px;
	        position: absolute;
	    }
	}
}

// Sidebar widgets
.app-aside{
	.widget{
		padding: 2.5em;
		border-bottom: 1px solid $border-color;
		text-align: center;

		.icon{
			margin-bottom: 20px;
			i{
				font-size: 1.4em;
			}
		}

		.widget-title{
			> *{
				margin-top: 0;
				font-size: $font-size-sm;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		.text{
			color: #828282;
			font-size: $font-size-xs;
			margin-bottom: 0;
		}

		.read-more{
			text-transform: uppercase;
			margin-top: 15px;
		}

		&.widget_category-list{
			padding:0;
			border-bottom: 0;
			text-align: left;
		}
	}
}
